:root {
    --main-color: #9ECAD6;
    --main-slight-dark-color: #7EA1AB;
    --main-two-color: #5E7980;
    --main-three-color: #3F5156;
    --primary-color: #748DAE;
    --second-color: #F5CBCB;
    --third-color: #FFEAEA;
    --text-color: #001c00;
    --text-second-color: #555444
}

/* // <weight>: Use a value from 300 to 800
// <uniquifier>: Use a unique and descriptive class name */
/* .open-sans-<uniquifier> {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
} */

body {
    padding: 0;
    margin: 0;
    position: relative;
    font-family: "Open Sans", sans-serif;
}

.header {
    background: var(--primary-color);
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    padding: 20px 15px;
    font-size: large;
    color: #FFFEEE;
    font-size: larger;
    font-weight: 500;
}

.header div {
    padding: 8px;
}

.header div:hover {
    background: var(--main-color);
    border-radius: 4px;
    color: var(--text-second-color);
}

.navbar {
    background: var(--main-slight-dark-color);
    color: var(--text-color);
    display: flex;
    position: fixed;
    width: fit-content;
    flex-direction: column;
    padding: 30px 20px 15px;
    gap: 20px;
    flex-grow: inherit;
    font-weight: 500;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.5s ease-out;
}

.navbar a {
    text-decoration: none;
    color: var(--text-color);
}

.navbar a:hover {
    text-decoration: underline;
    color: var(--text-second-color);
}

.box-img,
.box-img img {
    width: 30px;
    height: 30px;
}

img {
    filter: invert(100%);
}

.field {
    display: flex;
    flex-direction: row;
    gap: 15px;
}